body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* container for social media icon */
.social-media{
   
    display: flex;
    justify-content: flex-end;
    
}

/* navbar logo image container */
.navbar-logo-img{
width: 355.22px;
height: 52.6px;
margin-top: 20px;
margin-left: 74px;
}

.navbar-logo-img img{
    width: 100%;
}

.navbar-logo{
    display: flex;
    
}

.navbar-links img{
    width: 160px;
    height: 29px;
}

.navbar-links a{
    font-weight: 300;
    font-size: 15px;
    line-height: 22.5px;
    text-decoration: none;
    margin-right: 20px;
    
}

.navbar-links{
    
   padding-top: 15px;
   
   margin-left: 200px;
}
.menu{
    display: none;
}
.navbar-para{
    width: 770px;
    height: 7px;
    opacity: 50%;
    font-weight: 400;
    font-size: 10px;
    margin-left: 550px;
    
}
.navbar-para-mobile{
    display: none;
}


.img1{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width:96%;
    height: 227px;
    margin-left: 18px;
}
.img2{
    position: absolute;
    z-index: 2;
    top: 205px; 
 left: 20px; 
}
.img3{
    position: absolute;
    z-index: 3;
   
    top: 210px;
    left: 820px;   
   
}
.app-booking{
    display: flex;
}
.app-booking-icon{
    
    width: 48px;
    height: 100px;
    margin-top: 40px;

}


#app-booking-date{
    z-index: -2;
}
.app-booking-mobile{
    display: none;
}
.main-img-mobile{
    display: none;
}

/* booking button for mobile , hide in desktop*/
.booking-buttons{
    display: none;
}
/* end */



.car-scroll-title{
font-weight: 400;
font-size: 34.74px;
line-height: 52.11px;
text-align: center;
}
.car-scroll-card{
    width: 754px;
    height:290px ;
    display: flex;
    margin-right: 5px;
}
.car-scroll-card-img{
    width: 360px;
    height: 290px;
}
.Mitsubishi{
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
}
.car-scroll-card-details
{
    margin-left: 42px;
    width: 390px;
}
.car-scroll{
    margin-top: 40px;
}
.car-scroll-card{
    margin-top: 40px;
    border: 1px solid #D9D9D9;
    margin-left: 64px;
    margin-right: 30px;
}
.car-scroll-card-icons{
    margin-top: 72px;
   
}
.car-scroll-card-icons span{
    margin-right: 12px;
}
.price{
    margin-top: 35px;
}
.price button{
    width: 98px;
    height: 27px;
    color:white;
    background-color: #E21E26;
    margin-left: 64px;
}
.card-container{
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: 360px;
}
.subscription{
    width: 1234px;
    height: 506px;
    margin-top: 40px;
    margin-left: 142px;
    display: flex;
   
}
.subscription-input{
    width: 550px;
    height: 506px;
    
}
.subscription-title{
    width: 500px;
    height: 100px;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 40px;
}
.subscription-input-field input{
background-color: #F8F8F8;
border: none;
width: 223px;
height: 45px;
margin-right: 17px;
margin-bottom: 16px;
}
.subscription-para{
    width: 478px;
    height: 42px;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 40px;
}
.subscription-button button{
    width: 464px;
    height: 58px;
    background-color: #E21E26;
    color: white;
}
.subscription-images{
    background-color: #E21E26;
    width: 500px;
    height: 506px;
    padding-right: 10px;
    display: flex;
}
.subscription-img img{
    width: 231px;
    height: 417px;
}
.subscription-img-details{
    width: 233px;
    color: white;
    margin-top: 30px;
}
.subscription-img-details input{
   background-color: #F8F8F8;
   width: 263px;
   height: 45px;
   margin-top: 12.5px;
   margin-bottom: 23.42px;
}
.subscription-img-details button{
background-color: black;
color: white;
width: 144px;
height: 42px;
margin-bottom: 42px;
}
.subscription-img-details p{
width: 63px;
height: 21px;
font-weight: 500;
font-size: 14px;
line-height: 21px;
}
.subscription-images-mobile{
    display: none ;
}

.rent-title {
    width: 518px;
    height: 51px;
    font-weight: 400;
    font-size: 34px;
    text-align: center;
    
    margin-left: 350px;
}
.rent-order-details{
    width: 348px;
    height: 178px;
    border: 1px solid #000000;
}
.rent-order-details{
    align-items: center;
    padding-left: 10px;
    padding-top: 10px;
}

.rent-order-details img{
    margin-left: 100px;
    width: 38px;
    height: 46px;
    
}
.rent-span span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18.5;
    width: 223px;
    height: 70px;
    margin-top: 25px;
}
.rent-flex{
    display: flex;
}

.rent-details{
    margin-left: 40px;
   
}
.rent-container{
    margin-top: 40px;
    margin-bottom: 80px;
}
.location-container{
    width: 1150px;
    height: 325px;
    margin-left: 64px;
    background-color: #000000;
    color: white;
}
.location-container-mobile{
    display: none;
}
.location-title{
    width: 163px;
    height: 51px;
    justify-content: center;
    margin-left: 500px;
    padding-top: 56px;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    
   
}

.location-icons{
    margin-top: 80px;
}

.location-icons img{
    margin-left: 80px;
}
.faq-title{
    text-align: center;
    margin-top: 56px;
    font-weight: 400;
    font-size: 34px;
    line-height: 51px;
    margin-bottom: 69px;
}
.accordion-content{
    display: none;
    width: 800px;
    height: 25px;
    opacity: 50%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24.71px;
    margin-left: 150px;
}
.accordion-button{
    width: 1059px;
    height: 19px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    background-color: white;
    border: none;
    margin-bottom: 20px;
padding-right: 480px;

}
.accordion-button:hover{
    cursor:pointer;
}

.accordion{
    margin-left: 40px;
}
 hr{
    width: 70%;
}
.footer{
    width: 100%;
    height: 303px;
    background-color: #000000;
    color: white;
}
.footer-mobile{
    display: none;
}
.footer-logo img{
width: 56.75px;
height: 66px;
}
.footer-logo{
    width: 120px;
    height: 100px;
   padding-top: 50px;
    margin-left: 80px;
}

.footer a{
    text-decoration: none;
    color: white;
}
.footer{
    display: flex;
}
.footer-links a{
margin-right: 20px;
padding-right: 20px;
}
.footer-links{
    margin-left: 100px;
    margin-top: 20px;
}
#copyright{
   margin-left: 250px;
   
}

/* starting of styling for mobile devices */

@media (max-width: 768px){

    body{
        overflow-x: hidden;
    }
    .social-media{
        display: none;
    }
    .navbar-links{
        display: none;
    }
    .navbar-logo-img{
        width: 155.94px;
        height: 23.6px;
        margin-top: 20px;
        margin-left: 26.35px;
        border: 1px solid black;
        
        }
    .menu{
        display:block;
        margin-top: 20px;
        margin-left: 100px;
        border: 1px solid red;
        height: 20px;
        
    }
    .navbar-logo{
        display: flex;
        overflow: hidden;
        width: 100%;
        height: 100px;
    }
    .navbar-para{
        display: none;
    }
    .app-booking{
        display: none;
    }
    .navbar-para-mobile{
        display: block;
        width: 101px;
        height: 7px;
        opacity: 40%;
        font-weight: 400;
        font-size: 10px;
        margin-left: 150px;
        margin-bottom: 5px;
        background-color: aqua;
    }
    .app-booking-mobile-container{
        /* width: 328px; */
        width: 70%;
        height: 120px;
        background-color:  #E21E26;
        color: white
        ;
        margin-left: 5px;
    }
    .app-booking-mobile-span{
        width: 251px;
        height: 32px;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        
        margin-left: 30px;
        margin-top: 10px;
    }
    .app-booking-mobile-img{
        margin-left: 30px;
        margin-top: 30px;
    }
    .app-booking-mobile{
        display: flex;
    }
    .app-booking-mobile-icons{
        /* margin-left: 5px; */
        width: 41px;
    }
    .main-image{
        display: none;
    }
    .main-img-mobile{
        display: block;
        width: 100%;
        overflow: hidden;
        margin-top: 10px;
    }
    .main-img-mobile img{
        
        max-width:100%;
        overflow-x: hidden;
        
    }


    /* booking button  */
    .booking-buttons{
        display: flex;
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 16px;
    }
    .book-car-button button{
        width: 145px;
        height: 38px;
        background-color: #E21E26;
        color: white;
        margin-right: 8px;
    }
    .quick-book-button button{
        width: 145px;
        height:38px ;
        background-color: white;
        color:#E21E26;
        border: 1px solid #E21E26;
    }

    /* car - scroll- container  */
    .car-scroll-title{
        width: 145px;
        height: 24px;
        margin-left: 17px;
        font-weight: 400px;
        font-size: 16px;
        line-height: 24px;
    }
    .car-scroll-card{
        width: 206px;
        height: 333px;
        display:list-item;
        margin-left: 5px;
        
    }
    .car-scroll-card-img{
        width: 207px;
        height: 127px;
        overflow: hidden;
    }
    .car-scroll-card-img img{
        width: 100%;
        
    }
    .car-scroll-card-details{
        width: 207px;
        height: 206px;
    }
    .Mitsubishi{
        width: 142px;
        height: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
    .car-scroll-card-details{
        font-weight: 400;
        font-size: 12px;
        line-height: 15.6px;
        margin-left: 10px;
    }
    .car-scroll-card-icons{
        margin-top: 10px;
        font-weight: 400;
        font-size: 10px;
        line-height: 15px;
    }
    .price{
        margin-top: 10px;
        width: 116px;
        height: 24px;
        font-weight: 600;
        font-size: 13px;
        line-height: 19.5px;
    }
    .price button{
        width: 124px;
        height: 36px;
        
        margin-top: 5px;
       margin-left: 5px;
    }

  .subscription{
    display: list-item;
    margin-left: 10px;
  }
  .subscription-title{
    width: 227px;
    height: 48px;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;

  }
  .subscription-input-field{
    height: 100px;
    width: 100%;
  }

  .subscription-input-field input{
    width: 328px;
    height: 48px;
  }
  .subscription-para {
    width: 328px;
    height: 54px;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
  }
  .subscription-button{
    width: 128px;
    height: 38px;
  }
  .subscription-button button{
    width: 100%;
  }
  .subscription-images{
   display: none;
    
  }
  .subscription-images-mobile{
    background-color: #E21E26;
    color: white;
    width: 320px;
    height: 390px;
    margin-bottom: 50px;
    display: block;
  }
  .subscription-images-mobile-flex{
    display: flex;
  }
  .subscription-input{
    width: 340px;
    height: 350px;
    
  }
.subscription-images-mobile-details{
    width: 140px;
    height: 49px;
    padding-top: 10px;
    margin-left: 5px;
    
}
.subscription-images-mobile-details img{
   margin-top: 10px;
}

.subscription-images-mobile input{
    width: 270px;
    height: 48px;
    background-color: white;
    margin-left: 5px;
}
.subscription-images-mobile button{
    width: 129px;
    height: 39px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
 
.rent-container{
    margin-top: 250px;
    margin-bottom: 80px;
    
}
.rent-title{
    width: 211px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    margin-left: 15px;
}
.rent-order{
    width: 45px;
    height: 36px;
    margin-bottom: 18px;
}
.rent-flex{
    display: list-item;
}
.rent-details{
    width: 100%;
    margin-left: 10px;
    margin-bottom: 10px;
    
}
.rent-order-details{
    width: 280px;
    height: 165px;
}
.location-container-mobile{
    width: 300px;
    height: 150px;
    margin-left: 10px;
    background-color: #000000;
    color: white;
    display: block;
}
.location-title-mobile{
    width: 77px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 25px;
}
.location-icons-mobile img{
    width: 76px;
    height: 19px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.location-container{
    display: none;
}
.location-icons-mobile{
margin-left: 10px;
}
.faq-container{
    width: 100%;
}
.faq-title{
    width: 212px;
    height: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}
.accordion-button{
    width: 80%;
    height: 16px;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 10px;
    padding-right: 10px;
}
.accordion{
    width: 290px;
    margin-left: 10px;
    
}
.accordion-content{
    margin-left: 10px;
    width: 90%;
    height: 40px;
}
hr{
    width: 70%;
    margin-left: 10px;
}
.footer{
    display: none;
}
.footer-mobile{
    width: 100%;
    height: 300px;
    display: block;
    background-color: aqua;
}
.footer-1-logo span{
    width: 68px;
    height: 24px;
    font-weight: 500;
    font-size: 7.7px;
    line-height: 11.6px;
    margin-top: 10px;
}
.footer-1-logo{
    display: flex;
}
.footer-1{
    display: flex;
    
}
.social-media-mobile{
    margin-top: 20px;
    margin-left: 35px;
}
.footer-1-nav a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-right: 20px;
}
.footer-1-nav{
    margin-left: 20px;
    margin-right: 20px;
}
.footer-1-container{
    background-color: #F6F7F9;
    width: 90%;
}
.footer-2-container {
    background-color: #000000;
    color: white;
    height: 157px;
}
.footer-2-container  span{
   margin-left: 80px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.footer-2-nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    
}

}
